<!--Grid via Bootstrap for main page --->

<a class="col-xs-12 col-sm-6 col-lg-4" href="<%= url_for(dog) %>">
  <article>
    <h2 class="dog-name"><%= dog.name %></h2>
    <%= image_tag url_for(dog.images.first), class: "dog-photo", alt: "Photo of #{dog.name}" %>
  </article>
</a>
